
<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>GrandPy-App</title>

<!-- Bootstrap Core CSS  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='css/grandpy.css') }}" rel="stylesheet">
</head>

<body id="page-top">
	<header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
		<a class="navbar-brand" href="#" style="font-size: 1.7em;font-weight: bold">
			<img src="{{ url_for('static', filename='img/robot.png') }}" 
			class='d-inline-block align-left' alt='Grandpy Logo'>GrandPy - Le Bot Papy-Robot!</a>
    </header> 
    <p><br /></p>
	<div id="chartContainer" align="center"> />
		<div id="box0">
			<br />
			<div id="box1"> </div>
				
			<div id="animation"> </div>			
			<hr>
		</div>			
		<div id="box2">
			<form class="navbar-form" role="search" id="myForm" name="myForm">
				<p>
					<div class="form-group">
						<label for="mySearch">Veuillez entrer votre question dans le champ :</label><br />
						<input type="text" name="mySearch" id="mySearch" maxlength="80" size="60">
						<input type="submit" class="btn-default" value="Chercher"/>
					</div>
				</p>
			</form>
		</div>
	</div>
	
	<footer class="ending">
		<span class="m-0 text-center text-white">Eric Bresler - Source : https://github.com/6netic/GrandPy</span>
	</footer>
	<script type="text/javascript">var key = '{{ data.google_api_key }}'</script> 
	<script type="text/javascript" src="{{url_for('static', filename='js/grandpy.js')}}"></script>

</body>
</html>






