.env
.DS_Store
.pytest_cache
venv/
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
/grandpy/static/js/grandpy_temp.js
/grandpy/templates/index_temp2.html
grandpy/static/css/bootstrap/
grandpy/__pycache__/
